@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --woodsmoke-50: #f6f6f6;
  --woodsmoke-100: #e7e7e7;
  --woodsmoke-400: #888888;
  --woodsmoke-700: #4f4f4f;
  --woodsmoke-800: #454545;
  --woodsmoke-900: #282828;
  --woodsmoke-950: #1a1a1a;
  --snow-flurry-200: #c3ff97;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1a1a1a;
}

.primary-font-base {
  @apply font-helvetica text-base font-normal leading-[140%] text-woodsmoke-100;
}

.courier-font-sm {
  @apply font-courier text-[19px] font-normal leading-none text-woodsmoke-100;
}

.courier-font-base {
  @apply font-courier text-base font-medium leading-[140%] text-woodsmoke-100;
}

.without-ring {
  @apply ring-offset-1 ring-offset-red-300 ring-transparent focus:ring-0 focus-visible:right-0 focus-visible:ring-offset-0 focus:outline-none focus-visible:outline-none focus:ring-offset-snow-flurry-200;
}