@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --woodsmoke-50: #f6f6f6;
  --woodsmoke-100: #e7e7e7;
  --woodsmoke-400: #888888;
  --woodsmoke-700: #4f4f4f;
  --woodsmoke-800: #454545;
  --woodsmoke-900: #282828;
  --woodsmoke-950: #1a1a1a;
  --snow-flurry-200: #c3ff97;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #1a1a1a;
}
